<nz-table #basicTable [nzData]="lessonContents" [nzBordered]="true" [nzSize]="'middle'" [nzShowPagination]="false" >
    <thead>
      <tr>
        <th>Nội dung</th>
        <th>Định dạng</th>
        <th>File đính kèm</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let content of lessonContents">
        <td>{{ content.content | slice:0:50 }}...</td>
        <td>{{ content.mediaType }}</td>
        <td>
          <ng-container *ngIf="content.mediaUrl">
            <a [href]="content.mediaUrl" target="_blank">Xem file</a>
          </ng-container>
        </td>
        <td>
            <div class="action-buttons">
              <button nz-button nzType="default" (click)="showModal(true, content)">Sửa</button>
              <button nz-button nzType="primary" nzDanger>Xóa</button>
            </div>
          </td>
          
      </tr>
    </tbody>
  </nz-table>
  <!-- Hàng thao tác (nút Thêm + Phân trang) -->
<div class="action-row">
    <div class="action-add">
      <button nz-button nzType="primary" (click)="showModal(false)">
        <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm nội dung
      </button>
    </div>
    <div class="action-pagination">
      <nz-pagination [(nzPageIndex)]="currentPage" [nzPageSize]="pageSize" [nzTotal]="lessonContents.length"
        (nzPageIndexChange)="onPageChange($event)">
      </nz-pagination>
    </div>
  </div>
  
  <!-- Modal thêm/sửa nội dung bài học -->
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isEditMode ? 'Sửa nội dung bài học' : 'Thêm nội dung bài học'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Nội dung</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <textarea nz-input [(ngModel)]="lessonContentData.content"></textarea>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
        <nz-form-label [nzSpan]="6">Định dạng</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-checkbox-group [(ngModel)]="selectedFormats">
            <label nz-checkbox [nzValue]="'image'" [(ngModel)]="lessonContentData.isImage">Ảnh</label>
            <label nz-checkbox [nzValue]="'video'" [(ngModel)]="lessonContentData.isVideo">Video</label>
          </nz-checkbox-group>
        </nz-form-control>
      </nz-form-item>
      
    <nz-form-item>
      <nz-form-label [nzSpan]="6">Tải file</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input type="file"  />
      </nz-form-control>
    </nz-form-item>
</ng-container>
  </nz-modal>
  