<nz-layout>
  <!-- Sidebar -->
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null" nzTheme="light">
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Nội dung" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['lesson']" routerLinkActive="active">Bài học</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a *ngIf="!examExists" (click)="openCreateExamModal()">
              Kiểm tra
            </a>
            <a *ngIf="examExists" [routerLink]="['exam']" routerLinkActive="active">
              Kiểm tra
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Thống kê" nzIcon="dashboard">
        <ul>

        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header class="app-header">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="trigger" nzTheme="outline"></nz-icon>
      </span>
      <a nz-button nzType="default" class="back-button" (click)="goBack()" style="margin: 0 24px;">
        <nz-icon nzType="arrow-left" nzTheme="outline"></nz-icon>
        Quay lại
      </a>
      <h2 class="header-title">Khóa Học: <i>{{ courseTitle }}</i></h2>
    </nz-header>
    <nz-content class="app-content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-modal [(nzVisible)]="isAssignmentModalVisible" nzTitle="Tạo bài kiểm tra" [nzClosable]="false"
  [nzMaskClosable]="false" (nzOnOk)="handleExamtOk()" (nzOnCancel)="handleExamCancel()">
  <form nz-form nzLayout="vertical" *nzModalContent>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="title" nzRequired>Tiêu đề bài kiểm tra</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <input nz-input [(ngModel)]="examData.title" name="title" required />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="description" nzRequired>Mô tả bài kiểm tra</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <textarea nz-input [(ngModel)]="examData.description" name="description" required></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>