.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px; 
  background: #fff;
  height: 60px; 
  width: 100%;
  font-size: large;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 1000; 
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; 
}

.menu {
  display: flex;
  gap: 15px; 
  margin-left: 20px; 
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.menu a:hover {
  color: #1890ff; 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto; 
}

button {
  cursor: pointer;
}

.inner-content {
  margin-top: 75px; 
}
.password-wrapper input {
  padding-right: 40px; 
}
.toggle-password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45); 
}
