html, body {
  height: 100%;
  margin: 0; 
}

.app-layout {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}
.app-header {
  background: #fff;
}
.inner-content {
  flex-grow: 1;
}

.app-footer {
  text-align: center;
  padding: 20px;
  background: #001529;
  color: white;
  width: 100%; 
}
