.footer {
    text-align: center;
    padding: 20px;
    background: #001529;
    color: white;
  
    .links {
      margin-top: 10px;
    }
  
    .links a {
      margin: 0 15px;
      color: white;
      text-decoration: none;
    }
  }
  