.course-container {
  max-width: 1200px;
  /* Giới hạn chiều rộng container */
  margin: 0 auto;
  /* Căn giữa container */
  padding: 24px 20px;
  /* Padding cho container */
  background: #f0f2f5;
  min-height: 100vh;

}

.loading-container,
.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Lớp courses-row dùng cho toàn bộ grid */
.courses-row {
  margin-top: 24px;
}

.course-card {
  border-radius: 12px;
  /* Bo góc mềm mại */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Shadow ban đầu */
}

.course-card:hover {
  transform: translateY(-5px);
  /* Nâng lên nhẹ khi hover */
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
  /* Shadow mạnh hơn tạo hiệu ứng 3D */
}

.course-image {
  width: 100%;
  height: 150px;
  /* Chiều cao hình ảnh nhỏ gọn */
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.course-details {
  padding: 12px;
  /* Padding bên trong cho nội dung */
}

.course-price {
  font-size: 15px;
  font-weight: bold;
  color: #1890ff;
}

.course-difficulty {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
  margin: 0;
}

/* Thanh tìm kiếm */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  flex: 1;
  margin-right: 20px;
  max-width: 1000px;
  padding: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.search-container input:focus {
  border-color: #1890ff;
}

.search-container button {

  background: #1890ff;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.search-container button:hover {
  background: #40a9ff;
  transform: scale(1.05);
}

/* Phân trang căn phải */
.action-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  padding-right: 20px;
}

nz-carousel {
  width: 100%;
  max-width: 2000px;
  height: 250px;
  margin: auto;
}

img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  nz-carousel {
    height: 100px;
    width: 100%;
    max-width: 400px;
  }

  img {
    height: 200px;
    width: 100%;
  }
}
.banner-image {
  pointer-events: none;
  user-select: none;
}
nz-carousel {
  user-select: none;
}